.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 1rem;
  font-size: 1.5rem;
  position: absolute;

  inset-inline-start: 5rem;
  padding: 1rem;
  margin: 1rem;
  margin-inline-start: 4rem;
  top: -9rem;
  color: white;
}

.exportData {
  display: flex;
  flex-direction: row;
  position: absolute;
  top: -3rem;
  margin-inline-start: 2rem;
  /* width: 15rem; */
}
.downloadIcon {
  color: white;
  height: 1.8rem;
  width: 1.8rem;
  cursor: pointer;
}
.export {
  text-transform: uppercase;
  gap: 1rem;
  font-size: 1rem;
  /* position: absolute; */
  background-color: transparent;
  border: none;
  color: white;
}
.container {
  position: absolute;
  top: 60%;
  left: 302%;
  transform: translate(-50%, -50%);
}

.table {
  width: 1230px;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 1rem;
}

.th,
.td {
  padding: 11px;
  background-color: rgba(18, 39, 43, 0.685);
  color: #fff;
  backdrop-filter: blur(5px);
  text-align: center;
}

.th {
  text-align: center;
}

.thead .th {
  background-color: #112e42;
}
