/* .allData {
  position: absolute;
  width: 1408px;
  height: 800px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(50px);
  top: -10px;
  left: 130px;
} */
.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  text-transform: uppercase;
  gap: 1rem;
  font-size: 1rem;
  position: absolute;

  inset-inline-start: 5rem;
  padding: 1rem;
  margin: 1rem;
  margin-inline-start: 4rem;
  top: -6rem;
  color: white;
}
.help {
  font-size: 0.75rem;
}
.displayInd {
  /* position: absolute;
  width: 320px;
  height: 182px;
  left: 224px;
  top: 177px;
  font-size: 0.605rem;
  text-align: center;
  background-color: rgba(138, 138, 138, 0.166);
  padding: 0.1rem 4rem;
  border-radius: 2rem;
  /* box-shadow: 0 0 1rem rgba(255, 255, 255, 0.342);
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.13); */

  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 250px;
  left: 100px;
  /* -124 */
  top: 20px;

  background: #07253e;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin-inline-start: 3rem;
  border-radius: 23px;
}
.displayInd2 {
  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 250px;
  left: 360px;
  top: 20px;

  background: #07253e;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin-inline-start: 3rem;
  border-radius: 23px;
}
.displayInd3 {
  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 250px;
  left: 620px;
  top: 20px;

  background: #07253e;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin-inline-start: 3rem;
  border-radius: 23px;
}
.displayInd4 {
  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 250px;
  left: 880px;
  top: 20px;

  background: #07253e;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin-inline-start: 3rem;
  border-radius: 23px;
}
.displayInd5 {
  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 250px;
  left: 1145px;
  top: 20px;

  background: #07253e;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin-inline-start: 3rem;
  border-radius: 23px;
}

.displayInd6 {
  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 180px;
  left: 100px;
  top: 140px;

  background: #07253e;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin-inline-start: 3rem;
  border-radius: 23px;
}
.displayInd7 {
  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 180px;
  left: 360px;
  top: 140px;

  background: #07253e;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin-inline-start: 3rem;
  border-radius: 23px;
}
.displayInd8 {
  box-sizing: border-box;

  position: absolute;
  width: 780px;
  height: 180px;
  left: 615px;
  top: 140px;

  background: #07253e;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin-inline-start: 3rem;
  border-radius: 23px;
}
.displayInd9 {
  box-sizing: border-box;

  position: absolute;
  width: 510px;
  height: 180px;
  left: 100px;
  top: 340px;

  background: #07253e;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin-inline-start: 3rem;
  border-radius: 23px;
}
.displayInd10 {
  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 180px;
  left: 620px;
  top: 340px;

  background: #07253e;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin-inline-start: 3rem;
  border-radius: 23px;
}
.displayInd11 {
  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 180px;
  left: 880px;
  top: 340px;

  background: #07253e;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin-inline-start: 3rem;
  border-radius: 23px;
}
.displayInd12 {
  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 180px;
  left: 1145px;
  top: 340px;

  background: #07253e;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin-inline-start: 3rem;
  border-radius: 23px;
}

.indName {
  font-size: 1.45rem;
  text-align: left;
  color: rgba(255, 255, 255, 0.839);
}

.dots {
  height: 2rem;
  width: 2rem;
  background-color: transparent;
  border: none;
  color: rgba(255, 255, 255, 0.637);
  font-size: 2rem;
  margin-block-end: 0.5rem;
  margin-inline-end: 1rem;
  padding: 0;
  cursor: pointer;
}
.dots:hover {
  color: white;
}
.nameAndDots {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0rem 1rem;
  align-items: center;
}

.value {
  text-align: left;
  margin: 2rem 1rem;
  font-size: 2.6rem;
  font-weight: bold;
}
.valueDif {
  text-align: left;
  margin: 0rem 1rem;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.637);
}
.icon1ind {
  height: 3rem;
  width: 3rem;
  margin: 2rem 1rem;
}
.valueAndIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.helpContainer1 {
  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 100px;
  left: -50px;
  /* -124 */
  top: 270px;

  background: #07253e;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin-inline-start: 3rem;
  border-radius: 23px;
}
.helpContainer2 {
  box-sizing: border-box;

  position: absolute;
  width: 250px;
  height: 100px;
  left: -100px;
  /* -124 */
  top: 270px;

  background: #07253e;
  border: 2px solid rgba(255, 255, 255, 0.5);
  box-shadow: 0px 4px 20px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  margin-inline-start: 3rem;
  border-radius: 23px;
}
.text {
  font-size: 1rem;
  margin: 1rem;
  text-align: center;
}
