.display {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0.5rem 1.5rem;

  position: absolute;
  top: 2rem;

  font-size: 0.64rem;
  text-align: center;

  background-color: rgba(138, 138, 138, 0.166);
  margin-inline-start: 14rem;
  padding: 0.1rem 1.8rem;
  border-radius: 2rem;
  border: 0.12rem solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 2.5rem rgba(8, 7, 16, 0.6);
}
.hover:hover {
  color: rgb(120, 176, 180);
  cursor: pointer;
}
.hover:focus {
  color: rgb(120, 176, 180);
}
